body {
    margin: 0px;
}

header {
    padding: 8px;
    background-color: #1c85c1;
    font-family: Arial;
}

#logoHeading {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}

#logoText {
    font-family: Arial;
    text-decoration: none;
    color: white;
}

.nav, .navList, .navItem {
    display: inline;
}

.navList {
    padding-left: 20px;
}

#logoutBox {
    font-size: 12px;
    display: inline-block;
    position: absolute;
    right: 0px;
}


.navLink {
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
}

#loginMessage {
    color: white;
}

#main {
    margin: 8px;
}

.pageTitle {
    font-size: 32px;
    font-family: Arial;
    text-align: center;
}

.centeredColumn {
    width: 600px;
    margin: auto;
}

.generalText {
    font-size: 18px;
    font-family: Arial;
}

.postBoxContainer {
    text-align: center;
}

.postBox {
    padding: 20px;
    border: 1px black;
    display: inline-block;
    border: 1px solid #1c85c1;
    border-radius: 10px;
}

.inputHolder {
    padding-bottom: 10px;
}

.credentialInput {
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
}
