.board {
    margin: auto;
}

.row {
    display: flex;
}

.cell {
    border: 1px dotted gray;
    position: relative;
    box-sizing: border-box;
}

.cellContent {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.beeperBg {
    background-color: #1c85c1;
}

.wallNorth {
    border-top: 3px solid black
}

.wallEast {
    border-right: 3px solid black
}

.wallSouth {
    border-bottom: 3px solid black
}

.wallWest {
    border-left: 3px solid black
}

.popup {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    border: 1px solid black;
    background-color: #FDFDF1;
    z-index: 4;
}

.examplePopupText {
    text-align: center;
}

.closeButton {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    top: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;

}

.closeButton:after {
    content: 'X';
}

.tabBar {
    display: flex;
    list-style-type: none;
}

.tab {
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid gray;
    width: 50px;
    height: 25px;
    box-sizing: border-box;
}

.activeTab {
    border-bottom: 2px solid blue;
}

.referenceList {
    list-style-type: none;
}

.cheatSheetLink {
    padding-left: 10px;
}
