#container {
    display: flex;
    margin: auto;
    padding: 10px;
    height: 600px;
}

#col1 {
    width: 40%;
}

#col2 {
    width: 60%;
}

.CodeMirror {
    border: 1px solid black;
    height: 500px;
    font-size: 16px;
}

.board {
    border: 3px solid;
    margin: auto;
}

.row {
    display: flex;
}

.cell {
    box-sizing: border-box;
    border: 1px dotted gray;
    position: relative;
}

.cellObj {
    position: absolute;
}

.wallNorth {
    border-top: 3px solid black
}

.wallEast {
    border-right: 3px solid black
}

.wallSouth {
    border-bottom: 3px solid black
}

.wallWest {
    border-left: 3px solid black
}

.goalPopup {
    position: absolute;
    left: 600px;
    top: 100px;
    width: 600px;
    height: 400px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    background-color: #FDFDF1;
}

.closeButton {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    top: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;

}

.closeButton:after {
    content: 'X';
}
